html {
    font-family: monospace;
}

.icon {
    width: 1.3rem;
    padding: 0.1rem;
    border-radius: 50%;
}

.img {
    width: 2.5rem;
    height: 2.5rem;
    padding: 0.1rem;
    border-radius: 50%;
    object-fit: cover;
}


.flex-row {
    display: flex;
    position: relative;
}

.dashboard-container {
    display: grid;
    grid-template-areas:
        "nav header header"
        "nav main main"
        "nav main main";
    grid-template-columns: 1fr 3fr 1fr;
}

.header-container p,
.mian-container p {
    color: rgb(94, 94, 94);
}

/*########################### NAVBAR ###########################*/
.navbar-container {
    grid-area: nav;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 1rem 2rem;
    justify-items: center;
    z-index: 100;
    box-shadow: 0.5px 1.5px 1px rgb(116, 116, 116);
}

.navbar-container .icon,
.search-bar-group .icon {
    position: absolute;
    left: -1.5rem;
}

.dashboard-title {
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 2px;
}

.dashboard-title-container {
    align-items: center;
}

.navbar-container .dashboard-icon {
    width: 2rem;
    left: -2rem;
}

.main-list,
.config-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}

.list-item {
    align-items: center;
    transition: 0.2s;
    font-weight: 500;
    font-size: 1.2rem;
}

.list-item:hover {
    cursor: pointer;
    transform: translateX(1rem);
    color: greenyellow;
    fill: greenyellow;
}

.list-item:active {
    color: green;
    fill: green;
}

/*########################### NAVBAR ###########################*/
.header-container {
    padding: 1rem 5rem 1rem 2.5rem;
    grid-area: header;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-between;
    gap: 1rem;
    z-index: -1;
    box-shadow: 0.5px 1.5px 1px rgb(116, 116, 116);
}

.search-bar-group {
    align-items: center;
}

.search-bar {
    border-radius: 15px;
    width: 100%;
    border: 1px solid transparent;
    transition: 0.2s;
}

.search-bar:hover,
.search-bar:focus,
.search-bar:active,
.search-bar:focus-visible {
    border: 1px solid transparent;
    border-color: green;
    background-color: green;
    color: white;
}


.search-icon {
    width: 1.5rem;
    margin-right: 0.5rem;
}

.user-profile,
.button-center {
    justify-content: end;
    gap: 1rem;
    font-weight: 700;
}

.user-profile {
    padding-right: 1rem;
}

.user-profile,
.user-greeting {
    align-items: center;
}

.user-greeting {
    gap: 1rem;
}

.button-center button {
    font-family: inherit;
    font-size: 0.9rem;
    background: none;
    border: none;
    border-radius: 20px;
    padding: 1rem 1.5rem;
    box-shadow: 0.5px 1.5px 3px black;
    transition: 0.2s;
}

.button-center button:hover {
    background-color: greenyellow;
    color: white;
}

.button-center button:active {
    background-color: green;
}

.button-center {
    align-items: center;
}

.profile-pic {
    width: 3.5rem;
    height: 3.5rem;
}

.profile-pic-big {
    width: 5rem;
    height: 5rem;
}

.greeting-title {
    font-size: 1.5rem;
    font-weight: 700;
}

/*########################### MAIN ###########################*/
.main-container {
    grid-area: main;
    display: grid;
    grid-template-areas:
        "stocks announcements"
        "stocks trending";
    grid-template-columns: 2fr 1fr;
    grid-template-rows: min-content;
    padding: 1rem 1.5rem;
    column-gap: 2rem;
}

.projects-container {
    grid-area: stocks;

}

.stocks-group {
    display: grid;
    gap: 1.5rem;
    grid-template-columns: 1fr 1fr;
}

.stock-container,
.announcement-super-group,
.trending-super-group {
    box-shadow: 0.5px 1.5px 1px rgb(116, 116, 116);
    border-radius: 15px;
    padding: 2rem;
}

.announcement-super-group {
    padding: 2rem 2.5rem;
}

.announcements-container {
    grid-area: announcements;

}

.announcements-group:not(:last-child) {
    border-bottom: 1px solid black;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
}

.trending-container {
    grid-area: trending;
}

.title {
    font-weight: 700;
    font-size: 1.5rem;
}

.ann-title,
.stock-title {
    font-weight: 700;
    font-size: 1.2rem;
}

.action-button-group {
    display: flex;
    justify-content: end;
    gap: .5rem;
}

.trending-container {
    padding-top: 1rem;
}

.trending-group {
    align-items: center;
    gap: 1rem;
}

.trending-super-group {
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
    padding: 1rem 2rem;
}